html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

body {
    overflow: hidden;
}

#barraNavegacion{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 40%;
    float: left;
}

#viewDiv{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 60%;
    float: right;
}

#creacion{
    padding-top: 8px;
    margin: 0;
    height: 8%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*border-bottom: 1px black ridge;*/
    
}

#creacion button a:link {
    text-decoration: none;
    color: #009999;
}

#creacion button a:visited {
    text-decoration: none;
    color: #009999;
}

#creacion button a:hover {
    text-decoration: none;
    color:white;
}

a .btnNavbar {
    height:40px;
    flex-basis: 45%;
    color: #009999; 
    background-color: white;
    border: ridge 1.1px #0F1923;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;    
}

a .btnNavbar:hover {
    color: white;
    background-color: #009999;
    border: ridge 1.1px #009999;    
}

#tablaField{
    padding: 0;
    margin: 0;
    height: 90%;
    width: 100%;
    float: left;
    background-color: white;
    overflow-y: scroll; 
    overflow-x: hidden;
}